lessons/src/lesson_17/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vehicles"/>
    <xs:complexType name="rv">
        <xs:sequence>
            <xs:element ref="rv" maxOccurs='unbounded'/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="rv">
        <xs:complexType>
        <xs:all>
            <xs:element name="colour" type="xs:string"/>
            <xs:element name="manuacturer" type="xs:string"/>
            <xs:element name="year" type="xs:string"/>
        </xs:all>
        <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>

</xs:schema>